.dash {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);

  .box {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid grey;
  }
  .box1 {
    grid-column: span 6;
    align-self: center;
  }
  .box2 {
    grid-row: span 6;
    grid-column: span 6;
  }
}
